body
{
    height: calc(100vh - 5vh);
    display: flex;
    font-family: 'Roboto', sans-serif;
    background: rgb(231, 227, 246);
    /* background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
    /* background-image: url('./4850889.jpg'); */
    background-size: cover;
    background-position: center top;
    background-position-y: -10rem;
    background-size: 95%;
}

.nav
{
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem;
    align-items: center;
}

.Dashboard
{
    justify-content: space-around;
    grid-template-columns: 2fr 2fr 2fr;
    text-align: center;
    align-items: center;
    margin: 1.5rem;
    margin-bottom: 1rem;
}


.Dashboard a i {
    transition: transform 0.5s;
    cursor: pointer;
    transform: scale(1.25);
    width: 5rem;
}



.Dashboard a
{
    background-color: #3fc6ca;
    grid-template-columns: 1fr 4fr;
    text-decoration: none;
    width: 30%;
    height: 3rem;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    color: #10023f;
    border: #77d5f2 solid 0.1rem;
    align-items: center;
    size: 0.2rem;
}

#app
{
    /* color: rgb(196, 52, 52); */
    margin: 1rem;
    padding: 1rem;
    size: 1rem;
    text-wrap: wrap;
    text-align: center;
    border: 0.15rem solid rgb(9, 155, 24);
    border-radius: 1rem;
    /* background-color: hsla(182, 72%, 38%, 0.5); Red color with 50% opacity */
    /* color: #10023f; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reg {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    color: #b8d01c;


}

.hi 
{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input_{
    height: 33px;
    width: 350px;
    border-radius: 4px;
    border: 2px solid rgb(9, 155, 24);
    margin: 5px 0px 10px 0px;
    background-color: #00f2ff00;
}

.input_::placeholder{
    color: rgb(0, 0, 0);
}

.link{
    text-decoration: none;
    color: black!important;
    width: 100%;
}

.center_{
    display: flex;
    justify-content: center;
    align-items: center;
}
