*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}


body{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 2fr 8fr;
    font-family: var(--typo-family);
    background: var(--color-surface-primery);
    background-attachment: fixed;
}

.page-content{
    display: grid;
    grid-template-rows: minmax(80px, 10%) 90%;
    /* align-items: center; */
    /* justify-content: center; */
}