/* @import url(../abstracts/colors.css);
@import url(../abstracts/font.css); */

.horizontal-nav{
    min-height: 100vh;
    width: 100%;
    background: var(--color-lightBlack);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.horizontal-nav .logo {
    width: 124px;
    height: 75px;
    margin: 0em 1em 1em 1em;
}

.horizontal-nav ul{
    margin: 2em;
    margin-top: 0.5em;
    display: flex;
    flex-direction: column;
    gap : 2em;
    flex-grow: 1;

}

.horizontal-nav li{
    display: flex;
    align-items: center;
    gap : 0.5em;
}

.horizontal-nav li a {
    text-decoration: none;
    font-weight: var(--font-weight-semi-bold);
    font-size: var(--font-size-md);
    text-transform: capitalize;
    color: var(--font-secondary-color);
}

.horizontal-nav .last-item{
    margin-top: auto;
}