.vertical-nav{
    min-width: 100vw;
    height: 60px;
    display: grid;
    grid-template-columns: auto 250px 230px;
    align-items: center;
    /* padding: 1em; */
}

.search-bar, .search-box{
    background-color: var(--color-lightBlack);
}

.search-box, .search-button{
    border: 0;
    box-shadow: none;
    background-color: var(--color-lightBlack);
}

.search-box{
    height: 30px;
    padding: 0 1em;
    color: var(--font-primary-color);
    font-size: var(--font-size-md);

}

.search-box::placeholder {
    color: var(--font-secondary-color);
    font-weight: var(--font-weight-semi-bold);
}

.fa-search{
    color: var(--color-secondary);
}

.search-box:focus {
    outline: none;
}

.search-bar{
    width: 80%;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 90% 10%;
    border-radius: 1em;
}

.notifications{
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
}

.notifications .icons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    background-color: var(--color-lightBlack);
    border-radius: 100%
}

.coin{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
}

.coin span{
    font-weight: var(--font-weight-semi-bold);
    color: var(--font-accent-color);
}

.profile{
    display: flex;
    align-items: center;
    justify-content: right;
    padding: 0 2em;
    gap: 1em;
    color: var(--font-primary-color);
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semi-bold);
}

.profile img{
    width: 60px;
    height: 60px;
    background-color: var(--color-lightBlack);
    border-radius: 100%;
    border: solid 4px var(--color-accent);
}