 /* Gerenal */
.profile-card{
    width: 100%;
    /* max-width: 300px; */
    justify-self: end;
    display: grid;
    color: var(--font-primary-color);
    font-weight: var(--font-weight-semi-bold);
}

.profile-card-xs{
    grid-template-columns: 56px auto;
    /* max-width: 200px; */
    /* width: 100%; */
    gap:2%;
    font-size: var(--font-size-xs);
    font-weight: var(--font-weight-regular);

}


.profile-card-sm{
    grid-template-columns: minmax(70px, 2fr) 8fr;
    gap : 4%;
    max-width: 200px;
    font-size: var(--font-size-sm);

}

.profile-card-md{
    grid-template-columns: minmax(100px, 3fr) 7fr;
    min-width: 350px;
    max-width: 600px;
    gap : 5%;
    font-size: var(--font-size-md);
    
}

/* image profile general style */

.profile-image{
    border-radius: 100%;
    /* background-color: var(--color-accent); */
    width: 100%;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-xs{
    max-width: 50px;
}


.img-sm{
    min-width: 70px;
}


.img-md{
    min-width: 95px;
}

.profile-image img{
    width: 90%;
    height: 90%;
    border-radius: 100%;
}

/* image profile GOLD STATE */

.gold-profile-img{
    background-color: var(--color-accent);
}

.gold-profile-img img{
    border: 2px solid black;
}

/* - - - - - - - - - - - - - - - - - - - - - */


/* Generale info style */
.info{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* justify-content: space-around; */
    padding:  0.5em 0;
    /* height: max-content; */
    /* justify-content: start; */
}

.info .sub-name{
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-xs);
    color: var(--font-secondary-color);
}

.profile-card .btn{
    margin-left: auto;
}

.profile-card .right-bottom{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* justify-content: center; */
}

.profile-card .same-row{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.color-test{
    color: red;
}